.main {
  margin: 0 auto;
  width: 300px;
  padding: 50px 50px 50px 50px;
  border: solid 10px black;
    border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 10px gray; }

.game {
  margin: 60px auto;
  text-align: center; }
  .game__currentWord span {
    display: inline-block;
    margin: 0 10px; }

.letters {
  color: #999;
  letter-spacing: 5px;
  margin: 0 auto;
  text-align: center;
  width: 400px; }

.hangman {
  height: 405px;
  margin: 0 auto;
  width: 300px; }
  .hangman div {
    background: #FFF; }

.hangman__base {
  height: 2px;
  width: 300px; }

.hangman__left-bar {
  height: 400px;
  width: 2px; }

.hangman__top-bar {
  height: 2px;
  width: 200px; }

.hangman__right-bar {
  float: left;
  height: 30px;
  margin-left: 200px;
  width: 2px; }

.hangman__head {
  background: none;
  border-radius: 100%;
  float: left;
  margin-left: 175px;
  margin-top: -375px;
  height: 50px;
  width: 50px; }
  .hangman__head div {
    background-color: #FFF; }

.hangman__body {
  float: left;
  height: 140px;
  margin-top: -321px;
  margin-left: 200px;
  width: 2px; }

.hangman__left-arm,
.hangman__right-arm,
.hangman__left-leg,
.hangman__right-leg {
  float: left;
  height: 90px;
  margin-top: -321px;
  margin-left: 173px;
  transform: rotate(35deg);
  width: 2px; }

.hangman__right-arm,
.hangman__right-leg {
  margin-left: 230px;
  margin-top: -324px;
  transform: rotate(140deg); }

.hangman__left-leg,
.hangman__right-leg {
  margin-top: -192px; }

.hangman-lifes-10 .hangman__base {
  background: #000; }

.hangman-lifes-9 .hangman__left-bar {
  background: #000; }

.hangman-lifes-8 .hangman__top-bar {
  background: #000; }

.hangman-lifes-7 .hangman__right-bar {
  background: #000; }

.hangman-lifes-6 .hangman__head {
  border: 2px solid #000; }

.hangman-lifes-5 .hangman__body {
  background: #000; }

.hangman-lifes-4 .hangman__left-arm {
  background: #000; }

.hangman-lifes-3 .hangman__right-arm {
  background: #000; }

.hangman-lifes-2 .hangman__left-leg {
  background: #000; }

.hangman-lifes-1 .hangman__right-leg {
  background: #000; }

.you-win,
.game-over {
  background: #87D892;
  border: 2px solid #407847;
    border-radius: 6px;
  color: #407847;
  margin: 40px auto 0;
  text-align: center;
  width: 300px; }

.game-over {
  background: rgba(215, 44, 44, 0.8);
  border-color: #8A2512;
  color: #8A2512; }

.footer {
  margin: 0 auto;
  width: 300px;
  padding: 10px 50px;
  border: solid 10px #000;
    border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px #999;
  background-color: rgba(215, 44, 44, 0.8); }

.new-game {
  background-color: #8A2512;
  color: #FFF;
  border: none;
    border-radius: 4px;
  padding: 12px 18px;
  display: block;
  margin: 0 auto; }

body,
input,
button {
  font-family: Montserrat;
  font-size: 16px; }

.hide {
  display: none; }

.clearfix {
  clear: both; }

h1 {
  margin: 20px auto;
  color: rgba(215, 44, 44, 0.8);
  padding: 0;
  font-size: 100px;
  text-align: center; }
